Repository njdifiore91/mga-operating-system-uwfbom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mga-os/lead-architects, @mga-os/security-team, @mga-os/backend-team, @mga-os/tech-leads, @mga-os/frontend-team, @mga-os/devops-team, @mga-os/domain-experts, @mga-os/integration-team, @mga-os/api-architects, @mga-os/ux-team, @mga-os/qa-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/assets/icons/index.ts
  src/web/src/assets/icons/index.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/validators/underwriting.validator.ts
  src/web/src/validators/underwriting.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/config/auth.config.ts
  src/web/src/config/auth.config.ts
Owners: @mga-os/frontend-team, @mga-os/security-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/types/auth.types.ts
  src/web/src/types/auth.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/api/underwriting.api.ts
  src/web/src/api/underwriting.api.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/api/policy.api.ts
  src/web/src/api/policy.api.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/types/analytics.types.ts
  src/web/src/types/analytics.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/package.json
  src/web/package.json
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/store/actions/auth.actions.ts
  src/web/src/store/actions/auth.actions.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/analytics.service.ts
  src/web/src/services/analytics.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/policy.service.ts
  src/web/src/services/policy.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/hooks/usePolicies.ts
  src/web/src/hooks/usePolicies.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/types/underwriting.types.ts
  src/web/src/types/underwriting.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/utils/api.utils.ts
  src/web/src/utils/api.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/auth/MFAVerification.tsx
  src/web/src/components/auth/MFAVerification.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @mga-os/frontend-team, @mga-os/security-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @mga-os/frontend-team, @mga-os/security-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/Sidebar.tsx
  src/web/src/components/common/Sidebar.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/api/underwriting.api.ts
  src/web/src/api/underwriting.api.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/api/claims.api.ts
  src/web/src/api/claims.api.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/package.json
  src/web/package.json
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/pages/auth/LoginPage.tsx
  src/web/src/pages/auth/LoginPage.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/layout/DashboardLayout.tsx
  src/web/src/components/layout/DashboardLayout.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/underwriting.service.ts
  src/web/src/services/underwriting.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/claims.service.ts
  src/web/src/services/claims.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/policy.service.ts
  src/web/src/services/policy.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/routes/PublicRoutes.tsx
  src/web/src/routes/PublicRoutes.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/api/documents.api.ts
  src/web/src/api/documents.api.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/store/actions/underwriting.actions.ts
  src/web/src/store/actions/underwriting.actions.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/store/actions/claims.actions.ts
  src/web/src/store/actions/claims.actions.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/store/actions/auth.actions.ts
  src/web/src/store/actions/auth.actions.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/analytics.service.ts
  src/web/src/services/analytics.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/documents.service.ts
  src/web/src/services/documents.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

.github/CODEOWNERS:

* @mga-os/lead-architects @mga-os/security-team

# Backend service code owned by backend team with mandatory security review
/src/backend/* @mga-os/backend-team @mga-os/tech-leads @mga-os/security-team

# Frontend application code owned by frontend team with mandatory security review
/src/web/* @mga-os/frontend-team @mga-os/tech-leads @mga-os/security-team

# Infrastructure code owned by DevOps team with mandatory security and architecture review
/infrastructure/* @mga-os/devops-team @mga-os/lead-architects @mga-os/security-team

# CI/CD workflow configurations owned by DevOps team with security review
/.github/workflows/* @mga-os/devops-team @mga-os/security-team

# Core business services require domain expert and security review
/src/backend/src/services/* @mga-os/backend-team @mga-os/domain-experts @mga-os/security-team

# OneShield integration code owned by integration team with security review
/src/backend/src/integrations/oneshield/* @mga-os/integration-team @mga-os/tech-leads @mga-os/security-team

# API endpoints and controllers require API architect and security review
/src/backend/src/api/* @mga-os/backend-team @mga-os/api-architects @mga-os/security-team

# UI components require frontend, UX, and security team review
/src/web/src/components/* @mga-os/frontend-team @mga-os/ux-team @mga-os/security-team

# Test files require QA and security team review
*.test.ts @mga-os/qa-team @mga-os/security-team

# Configuration files require DevOps, security, and compliance review
/src/backend/src/config/* @mga-os/devops-team @mga-os/security-team @mga-os/compliance-team
/src/web/src/config/* @mga-os/frontend-team @mga-os/security-team @mga-os/compliance-team

# Security-related code requires dedicated security team and lead architect review
/src/backend/src/security/* @mga-os/security-team @mga-os/lead-architects

# Security documentation requires security and compliance team review
/docs/security/* @mga-os/security-team @mga-os/compliance-team
