Repository njdifiore91/mga-operating-system-uwfbom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mga-os/lead-architects, @mga-os/security-team, @mga-os/backend-team, @mga-os/tech-leads, @mga-os/frontend-team, @mga-os/devops-team, @mga-os/domain-experts, @mga-os/integration-team, @mga-os/api-architects, @mga-os/ux-team, @mga-os/qa-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/models/Document.ts
  src/backend/src/models/Document.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/models/Endorsement.ts
  src/backend/src/models/Endorsement.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/models/Policy.ts
  src/backend/src/models/Policy.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/models/User.ts
  src/backend/src/models/User.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/repositories/ClaimRepository.ts
  src/backend/src/repositories/ClaimRepository.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/repositories/DocumentRepository.ts
  src/backend/src/repositories/DocumentRepository.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/repositories/EndorsementRepository.ts
  src/backend/src/repositories/EndorsementRepository.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/repositories/PolicyRepository.ts
  src/backend/src/repositories/PolicyRepository.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/AnalyticsService.ts
  src/backend/src/services/AnalyticsService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/ClaimsService.ts
  src/backend/src/services/ClaimsService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/ComplianceService.ts
  src/backend/src/services/ComplianceService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/DocumentService.ts
  src/backend/src/services/DocumentService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/PolicyService.ts
  src/backend/src/services/PolicyService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/services/UnderwritingService.ts
  src/backend/src/services/UnderwritingService.ts
Owners: @mga-os/backend-team, @mga-os/domain-experts, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/types/claims.types.ts
  src/backend/src/types/claims.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/types/compliance.types.ts
  src/backend/src/types/compliance.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/types/policy.types.ts
  src/backend/src/types/policy.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/types/underwriting.types.ts
  src/backend/src/types/underwriting.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/utils/dateTime.ts
  src/backend/src/utils/dateTime.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/utils/encryption.ts
  src/backend/src/utils/encryption.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/utils/logger.ts
  src/backend/src/utils/logger.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/utils/metrics.ts
  src/backend/src/utils/metrics.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/utils/validation.ts
  src/backend/src/utils/validation.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/setup.ts
  src/backend/tests/setup.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/integration/claims.test.ts
  src/backend/tests/integration/claims.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/integration/policy.test.ts
  src/backend/tests/integration/policy.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/integration/underwriting.test.ts
  src/backend/tests/integration/underwriting.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/mocks/claimsData.ts
  src/backend/tests/mocks/claimsData.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/mocks/policyData.ts
  src/backend/tests/mocks/policyData.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/models/Claim.test.ts
  src/backend/tests/unit/models/Claim.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/models/Policy.test.ts
  src/backend/tests/unit/models/Policy.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/services/ClaimsService.test.ts
  src/backend/tests/unit/services/ClaimsService.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/services/PolicyService.test.ts
  src/backend/tests/unit/services/PolicyService.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/services/UnderwritingService.test.ts
  src/backend/tests/unit/services/UnderwritingService.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/tests/unit/utils/encryption.test.ts
  src/backend/tests/unit/utils/encryption.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/.dockerignore
  src/web/.dockerignore
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/.env.example
  src/web/.env.example
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/.eslintignore
  src/web/.eslintignore
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/.eslintrc.json
  src/web/.eslintrc.json
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/.prettierrc
  src/web/.prettierrc
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

.github/CODEOWNERS:

* @mga-os/lead-architects @mga-os/security-team

# Backend service code owned by backend team with mandatory security review
/src/backend/* @mga-os/backend-team @mga-os/tech-leads @mga-os/security-team

# Frontend application code owned by frontend team with mandatory security review
/src/web/* @mga-os/frontend-team @mga-os/tech-leads @mga-os/security-team

# Infrastructure code owned by DevOps team with mandatory security and architecture review
/infrastructure/* @mga-os/devops-team @mga-os/lead-architects @mga-os/security-team

# CI/CD workflow configurations owned by DevOps team with security review
/.github/workflows/* @mga-os/devops-team @mga-os/security-team

# Core business services require domain expert and security review
/src/backend/src/services/* @mga-os/backend-team @mga-os/domain-experts @mga-os/security-team

# OneShield integration code owned by integration team with security review
/src/backend/src/integrations/oneshield/* @mga-os/integration-team @mga-os/tech-leads @mga-os/security-team

# API endpoints and controllers require API architect and security review
/src/backend/src/api/* @mga-os/backend-team @mga-os/api-architects @mga-os/security-team

# UI components require frontend, UX, and security team review
/src/web/src/components/* @mga-os/frontend-team @mga-os/ux-team @mga-os/security-team

# Test files require QA and security team review
*.test.ts @mga-os/qa-team @mga-os/security-team

# Configuration files require DevOps, security, and compliance review
/src/backend/src/config/* @mga-os/devops-team @mga-os/security-team @mga-os/compliance-team
/src/web/src/config/* @mga-os/frontend-team @mga-os/security-team @mga-os/compliance-team

# Security-related code requires dedicated security team and lead architect review
/src/backend/src/security/* @mga-os/security-team @mga-os/lead-architects

# Security documentation requires security and compliance team review
/docs/security/* @mga-os/security-team @mga-os/compliance-team
