Repository njdifiore91/mga-operating-system-uwfbom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mga-os/lead-architects, @mga-os/security-team, @mga-os/backend-team, @mga-os/tech-leads, @mga-os/frontend-team, @mga-os/devops-team, @mga-os/domain-experts, @mga-os/integration-team, @mga-os/api-architects, @mga-os/ux-team, @mga-os/qa-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/types/policy.types.ts
  src/web/src/types/policy.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/types/underwriting.types.ts
  src/web/src/types/underwriting.types.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/utils/api.utils.ts
  src/web/src/utils/api.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/utils/date.utils.ts
  src/web/src/utils/date.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/utils/format.utils.ts
  src/web/src/utils/format.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/validators/claims.validator.ts
  src/web/src/validators/claims.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/validators/policy.validator.ts
  src/web/src/validators/policy.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/src/validators/underwriting.validator.ts
  src/web/src/validators/underwriting.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/setup.ts
  src/web/tests/setup.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/components/analytics/AnalyticsDashboard.test.tsx
  src/web/tests/components/analytics/AnalyticsDashboard.test.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/components/claims/ClaimForm.test.tsx
  src/web/tests/components/claims/ClaimForm.test.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/components/policy/PolicyForm.test.tsx
  src/web/tests/components/policy/PolicyForm.test.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/components/underwriting/UnderwritingWorkflow.test.tsx
  src/web/tests/components/underwriting/UnderwritingWorkflow.test.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/hooks/useAuth.test.ts
  src/web/tests/hooks/useAuth.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/hooks/usePolicies.test.ts
  src/web/tests/hooks/usePolicies.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/mocks/handlers.ts
  src/web/tests/mocks/handlers.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/mocks/server.ts
  src/web/tests/mocks/server.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/store/reducers/auth.reducer.test.ts
  src/web/tests/store/reducers/auth.reducer.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/store/reducers/policy.reducer.test.ts
  src/web/tests/store/reducers/policy.reducer.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/web/tests/utils/validation.utils.test.ts
  src/web/tests/utils/validation.utils.test.ts
Owners: @mga-os/qa-team, @mga-os/security-team

Initial Setup
  src/web/package.json
Owners: @mga-os/frontend-team, @mga-os/tech-leads, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/utils/storage.utils.ts
  src/web/src/utils/storage.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/services/auth.service.ts
  src/web/src/services/auth.service.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/store/actions/ui.actions.ts
  src/web/src/store/actions/ui.actions.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/LoadingSpinner.tsx
  src/web/src/components/common/LoadingSpinner.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/hooks/useAuth.ts
  src/web/src/hooks/useAuth.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/utils/validation.utils.ts
  src/web/src/utils/validation.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/utils/api.utils.ts
  src/web/src/utils/api.utils.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/auth/PasswordReset.tsx
  src/web/src/components/auth/PasswordReset.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/Notification.tsx
  src/web/src/components/common/Notification.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/config/theme.config.ts
  src/web/src/config/theme.config.ts
Owners: @mga-os/frontend-team, @mga-os/security-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/components/common/SearchBar.tsx
  src/web/src/components/common/SearchBar.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/config/api.config.ts
  src/web/src/config/api.config.ts
Owners: @mga-os/frontend-team, @mga-os/security-team, @mga-os/compliance-team

BugFix: Automated bug fixes for src/web/src/components/layout/AuthLayout.tsx
  src/web/src/components/layout/AuthLayout.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/ErrorBoundary.tsx
  src/web/src/components/common/ErrorBoundary.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/Topbar.tsx
  src/web/src/components/common/Topbar.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

BugFix: Automated bug fixes for src/web/src/components/common/Sidebar.tsx
  src/web/src/components/common/Sidebar.tsx
Owners: @mga-os/lead-architects, @mga-os/security-team

.github/CODEOWNERS:

* @mga-os/lead-architects @mga-os/security-team

# Backend service code owned by backend team with mandatory security review
/src/backend/* @mga-os/backend-team @mga-os/tech-leads @mga-os/security-team

# Frontend application code owned by frontend team with mandatory security review
/src/web/* @mga-os/frontend-team @mga-os/tech-leads @mga-os/security-team

# Infrastructure code owned by DevOps team with mandatory security and architecture review
/infrastructure/* @mga-os/devops-team @mga-os/lead-architects @mga-os/security-team

# CI/CD workflow configurations owned by DevOps team with security review
/.github/workflows/* @mga-os/devops-team @mga-os/security-team

# Core business services require domain expert and security review
/src/backend/src/services/* @mga-os/backend-team @mga-os/domain-experts @mga-os/security-team

# OneShield integration code owned by integration team with security review
/src/backend/src/integrations/oneshield/* @mga-os/integration-team @mga-os/tech-leads @mga-os/security-team

# API endpoints and controllers require API architect and security review
/src/backend/src/api/* @mga-os/backend-team @mga-os/api-architects @mga-os/security-team

# UI components require frontend, UX, and security team review
/src/web/src/components/* @mga-os/frontend-team @mga-os/ux-team @mga-os/security-team

# Test files require QA and security team review
*.test.ts @mga-os/qa-team @mga-os/security-team

# Configuration files require DevOps, security, and compliance review
/src/backend/src/config/* @mga-os/devops-team @mga-os/security-team @mga-os/compliance-team
/src/web/src/config/* @mga-os/frontend-team @mga-os/security-team @mga-os/compliance-team

# Security-related code requires dedicated security team and lead architect review
/src/backend/src/security/* @mga-os/security-team @mga-os/lead-architects

# Security documentation requires security and compliance team review
/docs/security/* @mga-os/security-team @mga-os/compliance-team
