Repository njdifiore91/mga-operating-system-uwfbom, changes with the owners that .github/CODEOWNERS names for each.
All owners: @mga-os/lead-architects, @mga-os/security-team, @mga-os/backend-team, @mga-os/tech-leads, @mga-os/frontend-team, @mga-os/devops-team, @mga-os/domain-experts, @mga-os/integration-team, @mga-os/api-architects, @mga-os/ux-team, @mga-os/qa-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/middlewares/auth.middleware.ts
  src/backend/src/api/middlewares/auth.middleware.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/middlewares/error.middleware.ts
  src/backend/src/api/middlewares/error.middleware.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/middlewares/logging.middleware.ts
  src/backend/src/api/middlewares/logging.middleware.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/middlewares/validation.middleware.ts
  src/backend/src/api/middlewares/validation.middleware.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/analytics.routes.ts
  src/backend/src/api/routes/analytics.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/claims.routes.ts
  src/backend/src/api/routes/claims.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/compliance.routes.ts
  src/backend/src/api/routes/compliance.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/document.routes.ts
  src/backend/src/api/routes/document.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/policy.routes.ts
  src/backend/src/api/routes/policy.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/routes/underwriting.routes.ts
  src/backend/src/api/routes/underwriting.routes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/validators/claims.validator.ts
  src/backend/src/api/validators/claims.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/validators/compliance.validator.ts
  src/backend/src/api/validators/compliance.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/validators/policy.validator.ts
  src/backend/src/api/validators/policy.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/api/validators/underwriting.validator.ts
  src/backend/src/api/validators/underwriting.validator.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/aws.ts
  src/backend/src/config/aws.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/database.ts
  src/backend/src/config/database.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/kafka.ts
  src/backend/src/config/kafka.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/logger.ts
  src/backend/src/config/logger.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/oneshield.ts
  src/backend/src/config/oneshield.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/config/redis.ts
  src/backend/src/config/redis.ts
Owners: @mga-os/devops-team, @mga-os/security-team, @mga-os/compliance-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/constants/claimStatus.ts
  src/backend/src/constants/claimStatus.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/constants/errorCodes.ts
  src/backend/src/constants/errorCodes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/constants/policyTypes.ts
  src/backend/src/constants/policyTypes.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/constants/underwritingRules.ts
  src/backend/src/constants/underwritingRules.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/migrations/20230801000000_create_policies.ts
  src/backend/src/db/migrations/20230801000000_create_policies.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/migrations/20230801000001_create_endorsements.ts
  src/backend/src/db/migrations/20230801000001_create_endorsements.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/migrations/20230801000002_create_claims.ts
  src/backend/src/db/migrations/20230801000002_create_claims.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/migrations/20230801000003_create_documents.ts
  src/backend/src/db/migrations/20230801000003_create_documents.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/seeds/development/01_sample_policies.ts
  src/backend/src/db/seeds/development/01_sample_policies.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/db/seeds/test/01_test_data.ts
  src/backend/src/db/seeds/test/01_test_data.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/consumers/ClaimsEventConsumer.ts
  src/backend/src/events/consumers/ClaimsEventConsumer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/consumers/PolicyEventConsumer.ts
  src/backend/src/events/consumers/PolicyEventConsumer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/consumers/UnderwritingEventConsumer.ts
  src/backend/src/events/consumers/UnderwritingEventConsumer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/producers/ClaimsEventProducer.ts
  src/backend/src/events/producers/ClaimsEventProducer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/producers/PolicyEventProducer.ts
  src/backend/src/events/producers/PolicyEventProducer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/events/producers/UnderwritingEventProducer.ts
  src/backend/src/events/producers/UnderwritingEventProducer.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/integrations/oneshield/BillingClient.ts
  src/backend/src/integrations/oneshield/BillingClient.ts
Owners: @mga-os/integration-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/integrations/oneshield/PolicyClient.ts
  src/backend/src/integrations/oneshield/PolicyClient.ts
Owners: @mga-os/integration-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/integrations/oneshield/types.ts
  src/backend/src/integrations/oneshield/types.ts
Owners: @mga-os/integration-team, @mga-os/tech-leads, @mga-os/security-team

Add public-samples/mga-operating-system-uwfbom/src/backend/src/models/Claim.ts
  src/backend/src/models/Claim.ts
Owners: @mga-os/lead-architects, @mga-os/security-team

.github/CODEOWNERS:

* @mga-os/lead-architects @mga-os/security-team

# Backend service code owned by backend team with mandatory security review
/src/backend/* @mga-os/backend-team @mga-os/tech-leads @mga-os/security-team

# Frontend application code owned by frontend team with mandatory security review
/src/web/* @mga-os/frontend-team @mga-os/tech-leads @mga-os/security-team

# Infrastructure code owned by DevOps team with mandatory security and architecture review
/infrastructure/* @mga-os/devops-team @mga-os/lead-architects @mga-os/security-team

# CI/CD workflow configurations owned by DevOps team with security review
/.github/workflows/* @mga-os/devops-team @mga-os/security-team

# Core business services require domain expert and security review
/src/backend/src/services/* @mga-os/backend-team @mga-os/domain-experts @mga-os/security-team

# OneShield integration code owned by integration team with security review
/src/backend/src/integrations/oneshield/* @mga-os/integration-team @mga-os/tech-leads @mga-os/security-team

# API endpoints and controllers require API architect and security review
/src/backend/src/api/* @mga-os/backend-team @mga-os/api-architects @mga-os/security-team

# UI components require frontend, UX, and security team review
/src/web/src/components/* @mga-os/frontend-team @mga-os/ux-team @mga-os/security-team

# Test files require QA and security team review
*.test.ts @mga-os/qa-team @mga-os/security-team

# Configuration files require DevOps, security, and compliance review
/src/backend/src/config/* @mga-os/devops-team @mga-os/security-team @mga-os/compliance-team
/src/web/src/config/* @mga-os/frontend-team @mga-os/security-team @mga-os/compliance-team

# Security-related code requires dedicated security team and lead architect review
/src/backend/src/security/* @mga-os/security-team @mga-os/lead-architects

# Security documentation requires security and compliance team review
/docs/security/* @mga-os/security-team @mga-os/compliance-team
